<div class="container">
  <div class="row text-center pad-top ">
    <div class="col-md-12">
      <h2><strong>Taking a Decision</strong></h2>
    </div>
  </div>
  <div class="row  pad-top">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
      <hr />
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong> Procedure Information </strong>
        </div>
        <div class="panel-body">
          <form ng-app="" action="/procedure/decisionUpdate/<%= procedure.id %>" name="decisionForm" method="POST">
            <div class="form-group input-group">
              <input type="text" name="proStudentNationalID" value="<%= procedure.proStudentNationalID %>" class="form-control" id="proStudentNationalID"  readonly/>
              <span class="input-group-addon"></span>
            </div>
            <div class="form-group input-group">
              <input type="text" name="procedureType" value="<%= procedure.procedureType %>" class="form-control" id="procedureType" readonly/>
              <span class="input-group-addon"></span>
            </div>
            <div class="form-group input-group">
              <input type="text" name="procedureNote" class="form-control" id="procedureNote" placeholder="Enter Your Note" />
              <span class="input-group-addon"></span>
            </div>
            <div>
              <span style="color:red" ng-if="decisionForm.procedureLevel.$dirty">
                <span ng-show="decisionForm.procedureLevel.$error.required">Decision is required.</span>
              </span>
              <div class="form-group input-group">
                <select name="procedureLevel" class="form-control" ng-model="procedureLevel" id="procedureLevel" required>
                  <option value=""> -- SELECT -- </option>
                  <option value="0"> Refuse </option>
                  <option value="<%= procedure.procedureLevel + 1%>"> Accepted </option>
                </select>
                <span class="input-group-addon">*</span>
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="co btn btn-success" ng-disabled="decisionForm.$invalid" value="Confirm"></input>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
