<div class="container">
  <div class="row text-center pad-top ">
    <div class="col-md-12">
      <h2><strong>Editing Exist User Data</strong></h2>
    </div>
  </div>
  <div class="row  pad-top">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <hr />
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong>   User Information </strong>
        </div>
        <div class="panel-body">
          <form action="/user/update/<%= user.id %>" method="POST" name="signup" role="form">
            <div class="form-group input-group">
              <input type="text" name="fullName" class="form-control" id="fullName" value="<%= user.fullName %>" required />
              <span class="input-group-addon">*</span>
            </div>
            <div class="form-group input-group">
              <input type="email" name="email" class="form-control" id="email" value="<%= user.email %>" required />
              <span class="input-group-addon">*</span>
            </div>
            <div class="form-group input-group">
              <input type="text" name="nationalID" class="form-control" id="nationalID" value="<%= user.nationalID %>" required />
              <span class="input-group-addon">*</span>
            </div>
            <div class="form-group input-group">
              <select name="position" class="form-control" id="position" required>
                <option value="">-Position-</option>
                <option value="1"> Supervisor </option>
                <option value="2"> Student Affairs </option>
                <option value="3"> Monitoring </option>
                <option value="4"> Director </option>
                <option value="5"> Documentation </option>
                <option value="6"> Data Entry </option>
                <option value="7"> Scanning </option>
              </select>
              <span class="input-group-addon">*</span>
              <select name="department" class="form-control" id="department" required>
                <option value="">-Department-</option>
                <option value="AL"> Public </option>
                <option value="UI"> United Kingdom </option>
                <option value="AU"> Australia </option>
                <option value="CU"> Canada-United States </option>
                <option value="TM"> Turkey-Malta </option>
                <option value="EA"> Eastren Asia </option>
                <option value="EE"> Eastren Europe </option>
                <option value="WE"> Westren Europe </option>
              </select>
              <span class="input-group-addon">*</span>
            </div>
            <div class="input-group">
              <input type="submit" class="btn btn-success" value="Edit Account"></input>
              <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
