<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Student Information</div>
    <div class="panel-body" style="padding: 2em">
      <div class="form-group">
        <label for="studentName" class="help">Student Name: </label>
        <div class="input-group input-group-sm col-xs-3">
          <input type="text" name="studentName" class="form-control" id="studentName" value="<%= student.studentName %>" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="studentNationalID" class="help">National ID: </label>
        <div class="input-group input-group-sm col-xs-2">
          <input type="text" name="studentNationalID" class="form-control" id="studentNationalID" value="<%= student.studentNationalID %>" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="studyCountry" class="help">Study Country: </label>
        <div class="input-group input-group-sm col-xs-2">
          <input type="text" name="studyCountry" class="form-control" id="studyCountry" value="<%= student.studyCountry %>" readonly />
        </div>
      </div>
      <div class="form-group">
        <label for="studyCountryGroup" class="help">Study Country Group: </label>
        <div class="input-group input-group-sm col-xs-2">
          <input type="text" name="studyCountryGroup" class="form-control" id="studyCountryGroup" value="<%= student.studyCountryGroup %>" readonly />
        </div>
      </div>
      <div class="form-group">
        <div class="input-group input-group-sm">
          <a class="btn btn-warning" href="/student/edit/<%= student.id %>"> Edit </a>
        </div>
      </div>
    </div>
  </div>
</div>
